{% extends 'layout.twig' %}

{% block body %}

	<section id="portfolio">
        <div class="container">
            <div class="center">
               <h2>Portfolio</h2>
               <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
        
        	{% setcontent projects = 'projects' orderby '-datechanged' %}
			{% set tags = [] %}
				{% for project in projects %}
    				{% set tags = tags|merge(project.taxonomy.tags|default([]))%}
				{% endfor %}

            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">{{__('All Works')}}</a></li>
                {% for value in tags %}
                	<li><a class="btn btn-default" href="#" data-filter=".{{ value }}">{{ value}}</a></li>
                {% endfor %}
            </ul><!--/#portfolio-filter-->

            
            <div class="row">
                <div class="portfolio-items">

                	{% for project in projects %}
                		{% set classes = '' %}
                		{% if project.taxonomy.tags is defined %}
                			{% for value in project.taxonomy.tags %}
                				{% set classes = [classes, ' ' , value]|join %} 
                			{% endfor %}
                		{% endif %}

	                    <div class="portfolio-item {{ classes|trim }} col-xs-12 col-sm-4 col-md-3">
	                        <div class="recent-work-wrap">
	                            <img class="img-responsive" src="{{ thumbnail(project.image, 290, 220) }}" alt="">
	                            <div class="overlay">
	                                <div class="recent-work-inner">
	                                    <h3><a href="{{ project.link }}">{{ project.title }}</a></h3>
	                                    <p>{{ project.excerpt(30) }}</p>
	                                    <a class="preview" href="{{ app.paths.files ~ project.image }}" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
	                                </div> 
	                            </div>
	                        </div>
	                    </div><!--/.portfolio-item-->
                	{% endfor %}
                </div>
            </div>
        </div>
    </section><!--/#portfolio -->

{% endblock %}
